.home__wrapper {
  width: 60%;
  padding: 1% 2%;
}
.card__wrapper {
  border-bottom: 1px solid #e7e7e7;
  margin-top: 40px;
  padding: 20px;
}
.card__wrapper:first-child {
  border-top: 1px solid #e7e7e7;
}
.card__wrapper:hover{
  cursor: pointer;
}
.description {
  color: #7a7a7a;
  margin-top: 10px;
}
.card__image {
  float: left;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;

}
.blog-container{
  width: 40%;
  margin: 10px auto;
}
.blog__image {
  height: 60vh;
  display: block;
  margin: 40px auto;
  width: 100%;
  object-fit: cover;
}
.description__card {
  font-size: 18px;
  color: #555;
  margin: 20px 0;
  font-weight: 600;
}
.blog-title{
  font-weight: bold;
  font-size: 36px;
}
.body {
  font-size: 18px;
  color: #1d1d1d;
}
